*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(135deg,#0D47A1,#1976D2,#42A5F5);

}

.login-box{

width:400px;

background:rgba(255,255,255,0.12);

backdrop-filter:blur(15px);

padding:40px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.3);

text-align:center;

color:white;

}

.logo{

margin-bottom:30px;

}

.logo h2{

margin-top:10px;

font-size:30px;

}

.logo p{

opacity:.8;

margin-top:5px;

}

.input-box{

display:flex;

align-items:center;

background:white;

border-radius:10px;

padding:12px;

margin-bottom:20px;

}

.input-box i{

color:#1565C0;

font-size:18px;

margin-right:10px;

}

.input-box input{

border:none;

outline:none;

width:100%;

font-size:16px;

}

button{

width:100%;

padding:14px;

border:none;

border-radius:10px;

background:#FFD54F;

color:#0D47A1;

font-size:18px;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#FFC107;

transform:translateY(-2px);

}

#msg{

margin-top:15px;

font-weight:bold;

color:#ffeb3b;

}

@media(max-width:500px){

.login-box{

width:90%;

padding:25px;

}

.logo h2{

font-size:24px;

}

}